
@{
    Layout = null;
}

<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
  @foreach (var item in (List<Category>)ViewBag.categoirs)
  {
      if (item.Categories1.Count == 0 && item.Category1 == null)
      {
          <a href="@Url.Action("GetPro", new { CategoryId = item.Id })" class="w3-bar-item w3-button">@item.Name</a>
      }
      else if (item.Categories1.Count > 0)
      {
         <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                @item.Name <i class="fa fa-caret-down"></i>
            </a>
            <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
               @foreach (var childitem in item.Categories1)
	{
    <a href="@Url.Action("GetPro", new { CategoryId = item.Id })" class="w3-bar-item w3-button">@childitem.Name</a>
	}
               
            </div> 
      }
         
  }
   
    </div>

    @*<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="#" class="w3-bar-item w3-button">Shirts</a>
            <a href="#" class="w3-bar-item w3-button">Dresses</a>
            <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                Jeans <i class="fa fa-caret-down"></i>
            </a>
            <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
                <a href="#" class="w3-bar-item w3-button">Relaxed</a>
                <a href="#" class="w3-bar-item w3-button">Bootcut</a>
                <a href="#" class="w3-bar-item w3-button">Straight</a>
            </div>
            <a href="#" class="w3-bar-item w3-button">Jackets</a>
            <a href="#" class="w3-bar-item w3-button">Gymwear</a>
            <a href="#" class="w3-bar-item w3-button">Blazers</a>
            <a href="#" class="w3-bar-item w3-button">Shoes</a>
        </div>*@
